<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

  <title>Pricing example for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/">

  <!-- Bootstrap core CSS -->


  <!-- Custom styles for this template -->
  <!-- <link href="pricing.css" rel="stylesheet"> -->
</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">English Trainer</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#aboutus">About Us</a>
      <a class="p-2 text-dark" href="#myCarousel">Services</a>
      <a class="p-2 text-dark" href="#pricing">Pricing</a>
      <a class="p-2 text-dark" href="#contactus">Contact Us</a>
    </nav>
    <a class="btn btn-outline-primary" href="login">Sign up</a>
  </div>



  <div class="album py-5 bg-light" id="aboutus">
    <section class="jumbotron text-center" style="background-color: azure;">
      <h1 class="jumbotron-heading">English Trainer</h1>
      <p class="lead text-muted">ENGLISH TRAINER is a center established in 2021. With the goal of being an English training center for all subjects with language needs.</p>
      <p>
        <a href="#aboutus" class="btn btn-primary my-2">About us</a>
        <a href="#myCarousel" class="btn btn-secondary my-2">Our Service</a>
      </p>
    </section>
    <div class="container">

      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h6 style="color: #4da6e7;">About Us</h6>
              <h2>Perfect Place To Boost Your English</h2>
              <p class="card-text"><br>
                EENGLISH TRAINER is proud of its teaching staff thanks to a strict teacher recruitment process, with the
                entrance fee rate always below 40%:
                <br>+ Graduated with honors in PhD in Linguistics
                <br>+ with ielts 8.0 and above
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" click="#myCarousel" >Find More</button>
                </div>
                <small class="text-muted">English Trainer</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- <div class="card mb-4 shadow-sm"> -->
          <img src="/assets/image/monitoring.png" class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <!-- </div> -->
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-4">
          <!-- <div class="card mb-4 shadow-sm"> -->
          <img src="/assets/image/chat-group.png" class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
          <!-- </div> -->
        </div>

        <div class="col-md-8">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h6 style="color: #4da6e7;">Core Values</h6>
              <p class="card-text">
                Setting the goal of building and developing the future of every student is the top core value.
                <br>
                + Commitment to always innovate and develop over time.
                <br>
                + Always operate based on transparency and efficiency
                <br>
                + Spread positive goals and visions to the community.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">English Trainer</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-color: lightblue;">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 style="color: #777;"><strong>We not only provide knowledge but also experience high-class service.</strong></h1>
            <br>
            <p>Thanks to the advanced technology system, our teachers can personalize lessons for different classes rather than applying the same curriculum to all classes at the same level..</p>
            <p><a class="btn btn-lg btn-primary" href="#contactus" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container marketing">
    <h1 class="my-0 mr-md-auto font-weight-normal" style="text-align: center;">OUR TEACHER</h1>
    <br>
    <br>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/image/teacher-1.jpeg" alt="Generic placeholder image" width="130"
          height="150">
        <h2>Mr Smith</h2>
        <p>You are having trouble with English, you do not know how to use it thoroughly? You are confused when meeting foreigners. Rest assured Mr. Smith (Master of Linguistics, 8 years of experience in teaching English and Research) will help you overcome your fear of English, turning English into a second "mother tongue".</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/image/teacher-2.jpeg" alt="Generic placeholder image" width="120"
          height="150">
        <h2>Ms Anna</h2>
        <p>You want to advance in your career, your current salary is not enough to help you live? Did you know that 60% of people with English have a higher salary than you even though their professional skills are only equal to yours? You want to improve that, Ms Anna (IELTS 8.5, Master of Business Administration and Negotiation) will help you advance in your career.
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/image/teacher-3.jpeg" alt="Generic placeholder image" width="130"
          height="150">
        <h2>Mr Andrew</h2>
        <p>Mr Andrews (IELTS 9.0, top 3% of people who achieved IELTS 9.0 but English is not their mother tongue) will share his experience of getting a certificate, helping you to prepare for the important IELTS exam.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Lowest class size ever<span class="text-muted">It will help your English Comunication</span>
        </h2>
        <p class="lead">Interaction with teachers is a top priority, students are free to ask questions and practice pronunciation</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/image/business.png" class="featurette-image img-fluid mx-auto"
          data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Nowhere can do dit. <span class="text-muted">Student connecting with Manager during course.</span></h2>
        <p class="lead">Students can view reviews and comments about their current or upcoming teachers from previous students through their mobile app account, website of ENGLISH TRAINER. Students have the right to comment and evaluate the training quality to share with the student community on the center's app and website.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/image/analytics.png" class="featurette-image img-fluid mx-auto"
          data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Support Form.</span></h2>
        <p class="lead">Students can send support, request support for related issues to the center 24/7.</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/image/happy (1).png" class="featurette-image img-fluid mx-auto"
          data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="pricing">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">We always put you and your experience first, a team of top quality teachers in the world. The price we calculate is reasonable and cheapest for you to receive more than the amount below.</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Beginner</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$400 <small class="text-muted">/ course</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>5 students in class</li>
            <li>Account In System </li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Intermediate</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$500 <small class="text-muted">/ course</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>3 students in class</li>
            <li>Account In System</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Advanced</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Contact Us <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 by 1</li>
            <li>Account In System</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-box" id="contactus">
      <div class="row align-items-center">
        <div class="col-8">
          <h1 class="featurette-heading">Tell Us What We Can Help You ?</h1>
        </div>
        <div class="col-4">
          <img src="/assets/image/bar-chart.png" style="width: 70%;">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <br>
          <h1><span class="text-muted">Contact</span></h1>
          <br>
          <h4>Phone :</h4>
          <h6>+840990090</h6>
          <br>
          <h4>Address:</h4>
          <h6>Binh Thanh District , VietNam</h6>
          <br>
          <h4>Email :</h4>
          <h6>englishtrainer@gmail.com</h6>
        </div>
        <div class="col-8">
          <br>
          <h1><span class="text-muted">Leave Us A Message</span></h1>
          <div class="box">
            <div class="form-group">
              <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                <h5 class="title" style="color: #4da6e7; margin-top: 0.5rem"> Form</h5>
              </div>
            </div>
            <form [formGroup]="homepageForm" (ngSubmit)="onSubmit(homepageForm.value)">
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                  <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control"
                    formControlName="name" placeholder="Enter Your Name">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name cannot be empty</div>
                    <div *ngIf="f.name.errors.maxlength">Name cannot be more than
                      {{utils.CODE_MAXLENGTH}} characters long</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                  <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"
                    formControlName="email" placeholder="Enter your email">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email cannot be empty</div>
                    <div *ngIf="f.email.errors.maxlength">Email cannot be more than {{utils.CODE_MAXLENGTH}}
                      characters long</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                  <input [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" class="form-control"
                    formControlName="phoneNumber" placeholder="Enter your Phone Number">
                  <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Phone Number cannot be empty</div>
                    <div *ngIf="f.phoneNumber.errors.maxlength">Phone Number cannot be more than
                      {{utils.CODE_MAXLENGTH}}
                      characters long</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.options.errors }" class="mbl" formControlName="options"
                    [items]="contactOption" bindLabel="name" bindValue="id" [clearable]="false" placeholder="Choose Your Options"></ng-select>
                  <div *ngIf="submitted && f.options.errors" class="invalid-feedback">
                    <div *ngIf="f.options.errors.required">Please choose your Options</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                  <ng-select [ngClass]="{ 'is-invalid': submitted && f.year.errors }" class="mbl" formControlName="year"
                    [items]="yearList" [clearable]="false" placeholder="Year"></ng-select>
                  <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                    <div *ngIf="f.year.errors.required">School year cannot be empty</div>
                    <div *ngIf="f.year.errors.maxlength">School year cannot be more than {{utils.CODE_MAXLENGTH}}
                      characters long</div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12 col-lg-12">
                  <textarea class="form-control mb-0" formControlName="description" rows="3"
                    placeholder="Description"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-5"></div>
                <button class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-outline-dark btnfont" type="submit">
                  {{submitBtnName}} </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>





  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/assets/image/Logo.png" alt="" width="100%">
        <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Services</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Training English</a></li>
          <li><a class="text-muted" href="#">High School</a></li>
          <li><a class="text-muted" href="#">English for Worker</a></li>
          <li><a class="text-muted" href="#">IELTS certification</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>English Trainer</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Career</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>





  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
</body>

</html>