<div class="container-fluid">

    <div class="card-box">
        <div *ngFor="let item of classList">


            <div class="row d-flex justify-content-center">
                <h1 class="featurette-heading" style="color:lightblue">{{item?.codeClass}}</h1>
            </div>

            <div class="row">
                <div class="col-6">
                    <h4> Your Teacher :  <span class="text-primary" (click)="mentorModal(item?.usernameTeacher, viewMentor)">{{item?.usernameTeacher}} </span></h4> 
                </div>
                <div class="col-6">
                    <h4>Your Helper : <span class="text-primary" (click)="mentorModal(item?.usernameService, viewMentor)">{{item?.usernameService}} </span></h4>
                </div>
            </div>

        </div>

    </div>

    <div class="card-box row">
        <div class="col-12 table-responsive" style="overflow-x:auto !important;">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th id="no" class="px-0">No.</th>
                        <th id="username">User Name</th>
                        <!-- <th>Role</th> -->
                        <th id="email">Email</th>
                        <th id="dateOfBirth">Date</th>
                        <th id="phoneNumber">Phone Number</th>
                        <th id="major">Major</th>
                        <th id="codeClass">Code Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!accountList || accountList.length < 1">
                        <td class="text-center" colspan="6">No Data</td>
                    </tr>

                    <tr *ngFor="let item of accountList; let i = index">
                        <td id="no" class="text-center">{{((pageNum - 1) * pageSize) + i + 1 }}</td>
                        <td id="username" class="text-primary" (click)="viewModal(item, view)">{{item?.username}}</td>
                        <td id="email" class="text-break">{{item?.email}}</td>
                        <td id="dateOfBirth">{{item?.dateOfBirth}}</td>
                        <td id="phoneNumber">{{item?.phoneNumber}}</td>
                        <td id="major">{{item?.major}}</td>
                        <td id="codeClass">{{item?.codeClass}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-md-between align-items-md-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-md-block">
                    <div class="dataTables_length" id="tickets-table_length"><label
                            class="d-inline-flex align-items-center">There
                            <select (change)="onPageSizeChange($event.target.value)" aria-controls="tickets-table"
                                class="custom-select custom-select-sm form-control form-control-sm mx-2"
                                name="pageSize">
                                <option [value]="10">10</option>
                                <option [value]="25">25</option>
                                <option [value]="50">50</option>
                                <option [value]="100">100</option>
                            </select> lines</label>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 mt-2 mt-md-0 d-none d-lg-block m-mb-8">
                    There are {{ totalElements === 0 ? 0 : (pageNum - 1) * pageSize + 1 }}
                    - {{ (pageNum - 1) * pageSize + accountList?.length }} on {{ totalElements }}
                </div> <!-- end col-->

                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8">
                    <div class="text-md-right float-md-right mt-2">
                        <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="pageNum"
                            [collectionSize]="totalElements" [maxSize]="maxSize" [pageSize]="pageSize" [rotate]="true">
                        </ngb-pagination>
                        <!--Pagination-->
                    </div>
                </div> <!-- end col-->
            </div>
        </div>
    </div>
</div>
<ng-template #view>
    <div class="">
        <h4 class="float-left mt-3 ml-3">User Information</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="accountForm">
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Account Name:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="name" placeholder="Account Name" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Email:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="email" placeholder="Email" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Date:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="dateOfBirth" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Phone Number:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="phoneNumber" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Major:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="major" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Class:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="codeClass" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Username:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="username" disabled>
                </div>
            </div>
            <!-- <div class="row form-group">
          <div class="col-lg-4">
            <label class="font-weight-bold">Role:</label>
          </div>
          <div class="col-lg-8">
            <input class="form-control" formControlName="role" placeholder="Choose Role" disabled>
          </div>
        </div> -->
            <!-- <div class="row form-group">
          <div class="col-lg-4">
            <label class="font-weight-bold">Faculty:</label>
          </div>
          <div class="col-lg-8">
            <input class="form-control" formControlName="faculty" placeholder="Choose Faculty" disabled>
          </div>
        </div> -->

            <div class="row form-group">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-secondary btnfont" (click)="closeModal()">
                        <i class="fas fa-times-circle"></i> Close</button>
                </div>
            </div>
        </form>

    </div>
</ng-template>


<ng-template #viewMentor>
    <div class="">
        <h4 class="float-left mt-3 ml-3">User Information</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="accountMentorForm">
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Account Name:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="name" placeholder="Account Name" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Email:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="email" placeholder="Email" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Phone Number:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="phoneNumber" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label class="font-weight-bold">Major:</label>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input class="form-control" formControlName="major" disabled>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-secondary btnfont" (click)="closeModal()">
                        <i class="fas fa-times-circle"></i> Close</button>
                </div>
            </div>
        </form>

    </div>
</ng-template>



